
                                                                                                                   
<!doctype html> <html>
 <head>
<title>Add member</title>
 </head>
                                                                                                                     
<body>
                                                                                                                     
<a href=" https://www.doc.gold.ac.uk/usr/602/users">Memberlist</a>
<br>
                                                                                                                     
<h1><bold> This is addmember page.</bold> </h1>
                                                                                                                     
<p>Please fill in the details below:</p>
                                                                                                                     
<form action="/registered" method="POST">
<input id="search-box" type="text" name="name" placeholder="enter name" required>
<input id="search-box" type="text" name="password" placeholder="enter password" required>
<input id="search-box" type="text" name="email" placeholder= "enter email" required>
<input type="submit" value="Submit" ></form>
                                                                                                                     
</body>
</html>

                                                                                                                  
<!doctype html>
<html>
                                                                                                                     
<head>
<title>This is search page</title>
</head>
                                                                                                                     
<body>
        <a href=" https://www.doc.gold.ac.uk/usr/602/users">Memberlist</a>
<br>
<br>
<h1>Search form</h1>
<form action="/search-result" method="POST">
<input id="search" type="text" name="name" placeholder="write here" required>
<input type="submit" value="OK" >
</form>
                                                                                                                     
</body>
</html>