                                                                                                          
<!doctype html>
<html>
                                                                                                                     
<head>
<title>This is search page</title>
</head>
                                                                                                                     
<body>
        <a href=" https://www.doc.gold.ac.uk/usr/602/users">Memberlist</a>
<br>
<br>
<h1>Search form</h1>
<form action="/search-result" method="POST">
<input id="search" type="text" name="name" placeholder="write here" required>
<input type="submit" value="OK" >
</form>
                                                                                                                     
</body>
</html>